$primarybrandcolor: #8ac8e9;
.slider-view {
  & .tns-outer {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  & .tns-inner {
    position: relative;
  }
  & .tns-nav {
    text-align: center;
    & > [aria-controls] {
      width: 9px;
      height: 9px;
      margin: 0 5px;
      padding: 0;
      border: 0;
      border-radius: 50%;
      background: lighten($primarybrandcolor, 10%);
    }
    & > .tns-nav-active {
      background: $primarybrandcolor;
    }
  }
  & .tns-controls {
    & > button {
      position: absolute;
      z-index: 2;
      top: 50%;
      width: 30px;
      height: 30px;
      margin-top: -15px;
      padding: 0;
      border: none;
      border-radius: 50%;
      outline: none;
      opacity: 0.9;
      background: $primarybrandcolor;
      color: #ffffff;
      line-height: 30px;
      text-align: center;
      font-weight: bold;

      &[data-controls="prev"] {
        left: 20%;
        &:hover {
          background: darken($primarybrandcolor, 10%);
        }
      }
      &[data-controls="next"] {
        right: 20%;
        &:hover {
          background: darken($primarybrandcolor, 10%);
        }
      }
    }
  }
  & .tns-item {
    filter: brightness(50%);
    &.tns-slide-active {
      &.active {
        filter: none;
      }
    }
  }
}
